BOT_TOKEN="example"
OFFTOP_CHAT_ID=1234
SUPABASE_URL=example
SUPABASE_KEY=example
TRIGGER_COOLDOWN_MS=15000
TRIGGERS=[
    {"words":["debug"],"reply":"debug_reply"},
    {"words":["goida","gol"],"reply":"goida_reply"}
]
